<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{header.html}"></div>

<main>
    <div class="container">
        <div class="mt-4 mb-4 text-end">
            <h5>Bienvenue, <span th:text="${username}"></span>!</h5>
            <a th:href="@{/logout}" class="btn btn-danger btn-sm">Se Déconnecter</a>
        </div>

        <h2 class="text-center">Dernières photos partagées</h2>

        <div th:if="${#lists.isEmpty(photos)}" class="alert alert-info">
            <p>Aucune photo à afficher pour le moment.</p>
        </div>

        <div class="row">
            <div th:each="photo : ${photos}" class="col-md-4 photo-card">
                <div class="card">
                    <img th:src="@{${photo.url}}" alt="Photo" class="photo-thumbnail card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title" th:text="${photo.title}">Titre de la photo</h5>
                        <p class="card-text" th:text="${photo.description}">Description de la photo partagée.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-center mt-5">
    <p>&copy; 2024 TpNoteFotoSharing. Tous droits réservés.</p>
</footer>

</body>
</html>
