<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <button type="submit">Login</button>
</form>

<p>Pas de compte ? <a th:href="@{/users/register}">Créer un compte ici</a></p>

</body>
</html>
